@media screen and (min-width:800px) and (max-width: 1024px){
    #container #main-section {
        width: 60%;
        height: 100%;
    }

    #search-detail-section {
        width: 40%;
        height: 100%;
    }
}

@media screen and (min-width:680px) and (max-width: 799px){
    #container #main-section .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-content .city-and-time .day-and-time {
        margin-right: 0px;
        margin-bottom: 10px;
    }

}

@media screen and (min-width:320px) and (max-width:600px){

    body{
        overflow: hidden;   
    }
    #container {
        display: flex;
        flex-direction: column;
    }

    #container #main-section {
        width: 100%;
        max-width: 100%;
        padding-top: 20px;
    }

    #container #main-section .main-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;

    }

    #container #main-section .main-content .temp {
        margin-top: 30px;
        margin-right: 0;

    }
    #container #main-section .weather
 {
    margin-left: 0px;
}

    #search-detail-section {
        width: 100vw;
        height:15vh;
        transition: height 0.5s ease; 
    backdrop-filter: blur(0px);
    background-color: none;
    position: relative;
    border-top: 1px solid white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#search-detail-section .slider{
    display: block;
        position: absolute;
        top: 0;
        right: 50%;
        color: white;
        cursor: pointer;
        transition: all 0.5s ease;
        outline: none;
    }
    #search-detail-section .slider.rotate{
        transform: rotate(180deg);
    }
    #search-detail-section #weather-details h6 {

        padding: 10px 0;
    }

    #search-detail-section #search .common-cities {
        padding-bottom: 20px;

    }

    .main-content .city-and-time .day-and-time {

        margin-right: 0;
    }

    #search-detail-section #weather-details .details table tr td {
        padding: 14px 0;
    }

    .main-content .temp {
        margin-right: 0px;
    }

    .main-content .city-and-time .day-and-time {
        margin-right: 0px;
    }
    #search-detail-section #search .common-cities {
        display: none;
    }
    #search-detail-section #weather-details .details table tr td {
        padding: 10px 0px;
        
    }
    
    #search-detail-section #weather-details .details table {
        
        border-bottom: none;
    }
    
}